@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import "~bootstrap/scss/bootstrap";


*{
  cursor: pointer;
}
body {
  background-color:#000000;
  color: rgb(255,255,255);
  text-align: center;
  margin-top: 100px;
}

h1 {
  padding: 30px;
  font-size: 2rem;
  font-family: monospace;
  transition: font-size 0.5s ease-in-out, color 0.5s ease-in-out;
}

h1:hover {
  font-size: 2.5rem;
  color: #00F6ED; 
}

#view {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 1fr));
  gap: 20px; /* Adjust gap size as needed */
  width: 100%;
}

.card {
  width: 20rem; /* Set fixed width for each card */
  margin: 10px; /* Ensure each card has margin for spacing */
  justify-items: flex-start;
}
